body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;

}
li{
  list-style: none;
  border-bottom: 1px solid #818181;
}
.sidenav a {
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-container {/* esconde a parada toda*/
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.sidenav a, .dropdown-btn {/* formata a parada toda*/
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover { /* evento ao passar mouse*/
  color: #f1f1f1;
}
#emDev{
	padding-left: 35%;
}

.active{
	color: #f1f1f1 !important;
}

#main_div{
	padding-left: 240px;
	padding-top: 10px;
	padding-right: 10px;
}
.uppercase{
	text-transform:uppercase;
}
