<div th:replace="menu"></div>
<head>
<script src="/javascript/cadastroProduto.js"></script>
<!-- <script src="/javascript/cadastroBanco.js"></script> -->
</head>
<body>
	<div class="container mt-md-3">
		<fieldset>
			<legend>
				<span class="navbar-brand mb-0 h1">Cadastro de Produto:</span>
			</legend>
				<div>
					<table id="grid_cadastro" class="display" style="width:100%">
				        <thead>
				            <tr>
				                <th>Nome</th>
				                <th>Custo do Produto</th>
				                <th>Descri&ccedil;&atilde;o</th>
				            </tr>
				        </thead>
				        <tfoot>
				            <tr>
				                <th>Nome</th>
				                <th>Custo do Produto</th>
				                <th>Descri&ccedil;&atilde;o</th>
				            </tr>
				        </tfoot>
				    </table>
			    </div>
			<form method="post" enctype="multipart/form-data" id="formCadastroProduto" class="form-horizontal was-validated" action="produto/save" >
				<div>
					<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    	<span class="input-group-text">Nome</span>
						  </div>
						  <input type="text" class="form-control" id="produtoNome" name="produtoNome" onkeypress="return onlyLetters(event)" required maxlength="50">
					</div>
				</div>
				<div>
					<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    	<span class="input-group-text">Custo do Produto</span>
						  </div>
						  <input type="number" step="0.0001" value=0.00 class="form-control" id="produtoCustoCompra" name="produtoCustoCompra">
					</div>
				</div>
				<div>
					<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    	<span class="input-group-text">Descri&ccedil;&atilde;o do Produto</span>
						  </div>
						  <input type="text" class="form-control" id="produtoDescricao" name="produtoDescricao">
					</div>
				</div>	
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Arquivo</span>
					</div>
					<div class="custom-file">
						<input type="file" id="file" name="file" onchange="fileChange()" accept="image/*">
						<label class="custom-file-label" id="fileName" for="file">Selecione a Foto do Produto</label>
					</div>
				</div>
			<div class="nav justify-content-end">
				<div>
					<button type="reset" class="btn btn-warning">Limpar</button>
					<button type="submit" class="btn btn-primary">Gravar</button>
				</div>
			</div>		
			</form>
		</fieldset>
	</div>
</body>