<div th:replace="menu"></div>
<head>
<!-- <script src="/prime/javascript/cadastroBanco.js"></script> -->
<!-- <script src="/javascript/cadastroBanco.js"></script> -->
</head>
<body>
	<div class="container mt-md-3">
	Carrinho
	</div>
</body>