<div th:replace="menu"></div>
<head>
<script src="/javascript/compras.js"></script>
<!-- <script src="/javascript/cadastroBanco.js"></script> -->
</head>
<body>
	<div class="container mt-md-3">
		<fieldset>
				<legend>
					Comprar:
				</legend>
				<div>
					<table id="grid_cadastro" class="display" style="width:100%">
				        <thead>
				            <tr>
				                <th>Quantidade</th>
				                <th>Produto</th>
				                <th>Pre&ccedil;o Unit&aacute;rio</th>
				                <th>Pre&ccedil;o Total</th>
				            </tr>
				        </thead>
				        <tfoot>
				            <tr>
				                <th>Quantidade</th>
				                <th>Produto</th>
				                <th>Pre&ccedil;o Unit&aacute;rio</th>
				                <th>Pre&ccedil;o Total</th>
				            </tr>
				        </tfoot>
				    </table>
			    </div>
			<form id="formCompras" class="form-horizontal was-validated" action="compras/save" method="post">
				<div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
		    			<span class="input-group-text">Produto</span>
					  </div>
						<select class="form-control" id="produto" name="produto" required></select>						  
					  <div class="input-group-prepend">
					    	<span class="input-group-text">Quantidade</span>
					  </div>
					  <input type="number" class="form-control" value=1 id="pedidoProdutoQuantidade" onkeypress="return onlyNumber(event)" onchange="calculaPrecoProdutoTotal()" name="pedidoProdutoQuantidade" required>
				</div>
				<div>
					<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    	<span class="input-group-text">Pre&ccedil;o Unit&aacute;rio</span>
						  </div>
						  <input type="number" class="form-control" id="pedidoProdutoPrecoUnitario" name="pedidoProdutoPrecoUnitario" readonly>
						  <div class="input-group-prepend">
						    	<span class="input-group-text">Pre&ccedil;o Total</span>
						  </div>
						  <input type="number" class="form-control" id="pedidoProdutoPrecoTotal" name="pedidoProdutoPrecoTotal" readonly>
					</div>
				</div>
				<div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						    	<span class="input-group-text">Valor Total Pedido</span>
						  </div>
						  <input type="number" class="form-control" id="pedidoProdutoValorToral" name="pedidoProdutoValorToral" readonly>
					</div>
				</div>
			</div>	
			<div class="nav justify-content-end">
				<div>
					<button type="reset" class="btn btn-warning">Limpar</button>
					<button type="submit" class="btn btn-primary">Gravar</button>
				</div>
			</div>
			</form>
		</fieldset>
	</div>
</body>