<div th:replace="menu"></div>
<head>
<script src="/javascript/configuracaoSistema.js"></script>
<!-- <script src="/javascript/cadastroBanco.js"></script> -->
</head>
<body>
	<div class="container mt-md-3">
		<fieldset>
			<legend>
				<span class="navbar-brand mb-0 h1">Configura&ccedil;&otilde;es do Sistema:</span>
			</legend>
			<form id="formConfiguracao" class="form-horizontal was-validated" action="configuracao/save" method="post">
				<div>
					<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    	<span class="input-group-text">Despesas Totais</span>
						  </div>
						  <input type="number" class="form-control" onkeypress="return onlyNumber(event)" id="configuracaoDespesasTotais" name="configuracaoDespesasTotais"  required>
					</div>
				</div>
				<div>
					<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    	<span class="input-group-text">Margem de Lucro</span>
						  </div>
						  <input type="number" step="0.0001" value=0.00 class="form-control" id="configuracaoMargemLucro" name="configuracaoMargemLucro" required>
					</div>
				</div>
				<div class="nav justify-content-end">
				<div>
					<button type="reset" class="btn btn-warning">Limpar</button>
					<button type="submit" class="btn btn-primary">Gravar</button>
				</div>
			</div>	
			</form>
		</fieldset>
	</div>
</body>