<head>
<!-- <script src="/prime/javascript/plugins/jquery.min.js"></script> -->
<!-- <script src="/prime/javascript/plugins/fontAwesome.js"></script> -->
<!-- <link href="/prime/css/plugins/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
<!-- <script src="/prime/javascript/plugins/popper.min.js"></script> -->
<!-- <script src="/prime/javascript/plugins/bootstrap.min.js"></script> -->
<!-- <link href="/prime/css/plugins/datatables.min.css" rel="stylesheet" type="text/css"> -->
<!-- <script src="/prime/javascript/plugins/datatables.min.js"></script> -->
<!-- <link href="/prime/css/plugins/select2.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="/prime/css/plugins/select2-bootstrap.min.css" rel="stylesheet" type="text/css"> -->
<!-- <script src="/prime/javascript/plugins/select2.min.js"></script> -->
<!-- <script src="/prime/javascript/plugins/jquery.serializejson.js"></script> -->
<!-- <script src="/prime/javascript/plugins/moment.js"></script> -->
<!-- <link href="/prime/css/plugins/bootstrap-formhelpers.min.css" rel="stylesheet" type="text/css"> -->
<!-- <script src="/prime/javascript/plugins/bootstrap-formhelpers.min.js"></script> -->
<!-- <script src="/prime/javascript/plugins/jquery.blockUI.js"></script> -->

<script src="/javascript/plugins/jquery.min.js"></script>
<script src="/javascript/plugins/fontAwesome.js"></script>
<link href="/css/plugins/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="/javascript/plugins/popper.min.js"></script>
<script src="/javascript/plugins/bootstrap.min.js"></script>
<link href="/css/plugins/datatables.min.css" rel="stylesheet" type="text/css">
<script src="/javascript/plugins/datatables.min.js"></script>
<link href="/css/plugins/select2.min.css" rel="stylesheet" type="text/css">
<link href="/css/plugins/select2-bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="/javascript/plugins/select2.min.js"></script>
<script src="/javascript/plugins/jquery.serializejson.js"></script>
<script src="/javascript/plugins/moment.js"></script>
<link href="/css/plugins/bootstrap-formhelpers.min.css" rel="stylesheet" type="text/css">
<script src="/javascript/plugins/bootstrap-formhelpers.min.js"></script>
<script src="/javascript/plugins/jquery.blockUI.js"></script>

<title>Hist&oacute;rico Banc&aacute;rio</title>