<div th:replace="menu"></div>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/javascript/home.js"></script>
<body>
<div class="align-self-center">
<center><p> Aplica&ccedil;&atilde;o criada para prova de conhecimento da Linx.</p></center>
<center><p> Vaga de desenvolvedor Junior</p></center>
<center><p>	Desenvolvida por : Thiago Lemanski da Silva</p></center>
<center><p>	Enjoy!</p></center>
</div>
</body>