<div th:insert="dependencias"></div>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/menu.css" rel="stylesheet" type="text/css">
<script src="/javascript/menu.js"></script>
</head>
<div class="sidenav">
	<li><a id="home" href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
	<li><button id="cadastros" class="dropdown-btn" onClick='mostrarDropDown()'>
			<i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Cadastros</a><i
				class="fa fa-caret-down"></i>
		</button></li>
	<div id="dropDown" class="dropdown-container">
		<li ><a id="cadastroProduto" href="cadastroProduto"><i class="fas fa-building"></i>&nbsp;&nbsp;Produtos</a></li>
	</div>
	<li ><a id="nav-compras" href="compras">&nbsp;<i class="far fa-file-pdf"></i>&nbsp;&nbsp;Comprar</a></li>
	<li ><a id="nav-configuracao" href="sistema">&nbsp;<i class="far fa-file-pdf"></i>&nbsp;&nbsp;Configura&ccedil;&atilde;o</a></li>
</div>
<div id="main_div">